## Conditional Statements
    - To check whether the given condition is either True or False
    - if => single case
    - if-else => two cases
    - elif => n number of cases but based on preference it works
    - nested if => n number of cases but based on the conditions

``` 
Input:
    12
    6
Output:
    Entered values are: 12,6
    Given expression is 3x**2+5y and its value is: ?
```

In [2]:
n,m = int(input()),int(input())
print(f"Entered values are: {n},{m}")
print(f"Given expression is 3x**2+5y and its value is: {3*n**2+5*m}")

 1
 2

Entered values are: 1,2
Given expression is 3x**2+5y and its value is: 13

## if
    Syntax:
        if condition:
            //statements
        () => optional

```
Input-1:
    20
Output-1:
    Entered age is 20 and its difference is: +2years
Input-2:
    15
Output-2:

```

In [5]:
a = int(input())
if a>=18:
    print(f"Entered age is {a} and its difference is: +{a-18}years")

 34

Entered age is 34 and its difference is: +16years

```
expression: Even => 12x**3
Input
    2
    3
Output:
    Entered value is Even
    Entered second value is: 3    
    Given expression is 12x**3 and the value is: ?
```

In [12]:
n = int(input())
if n%2==0:
    m = int(input())
    print("Entered value is Even")
    print(f"Entered second value is: {m}")
    print(f"Given expression is 12x**3 and the value is: {12*m**3}")

 10
 2

Entered value is Even
Entered second value is: 2
Given expression is 12x**3 and the value is: 96

## If-else:
    Syntax:
        if condition:
            //statements
        else:
            //statements

In [10]:
a=int(input())
if a>=18:
    print(f"entered age is{a}and its difference is:+{a-18}years")
else:
    print(f"entered age is{a}and its difference is:-{18-a}years")

 16

entered age is16and its difference is:-2years

## elif
    Syntax:
        if condition-1:
            //statement-1
        elif condition-2:
            //statement-2
            |          |
        elif condition-n:
            //statement-n
        else:
            //statement-(n-2)

In [25]:
a=int(input())
if a>20 and a%2==0:
    print("even and it is higher than 20")
elif a%5==0:
    print("Divisible by 5")
elif (a%2==0):
    print("even")
else:
    print("odd")

 33

odd

In [ ]:
18 => even
30 => even and it is higher than 20
10 => divisible by 5
14 => even
33 => odd

## Nested if
    Syntax:
        if condition-1:
            if condition-2:
                //statement-1
        else:
            //statement-2
    else => optional

```
Input-1:
    CSE
Output-1:
    Entered branch is CSE and not belongs to DS
Input-2:
    DS
    1
Output-2:
    Entered year is 1 and not belongs to 2nd year
Input-3:
    DS
    2
    raju
Output-3:
    Entered name is raju not belongs to ramesh
Input-4:
    DS
    2
    ramesh
Output-4:
    Hi Welcome ramesh

```

In [30]:
b = input()
if b == "DS":
    y = int(input())
    if y == 2:
        n = input()
        if n == "ramesh":
            print(f"Hello Welcome {n}")
        else:
            print(f"Entere name is {n} not belongs to ramesh")
    else:
        print(f"Entered year is {y} and not belongs to 2nd year")
else:
    print(f"Entered branch is {b} and not belongs to DS")

 DS
 2
 ramesh

Hello Welcome ramesh

## Loops:
    - To iterate the n number of statements untill the condition is false
    - for => knwon ranges
    - while => know and unknown ranges

## for
    Syntax:
        for iterationvariable_name in range(start,stop,step):
            //statements
                                or
        for iterationvariable_name in iterator:
            //statements

## range:
    - range(stop)
        => It starts with 0 and it ends with stop-1 value
        => By default it increments with +1 value
        Ex:
            range(5)
                0 1 2 3 4
    - range(start,stop)
        => It starts  exactly with start value and it ends with stop-1 value
        => By default it increments with +1 value
        Ex:
            range(5,10)
                5 6 7 8 9
    - range(start,stop,step)
        => It starts exactly with start value and it ends with stop-1 value
        => By default it increments/decrements with step value
        Ex:
            range(1,10,3)
                1 4 7

In [37]:
n = int(input())
for i in range(n):
    print(i+1,end=" ")

 5

1 2 3 4 5

```
5
24F41A3201
24F41A3202
24F41A3203
24F41A3204
24F41A3205

11
24F41A3201
24F41A3202
24F41A3203
24F41A3204
24F41A3205
24F41A3206
24F41A3207
24F41A3208
24F41A3209
24F41A3210
```