# Python Basics

## Variable:
    - It stores a value
    - It changes a value
    Syntax:
        variable_name= value

## Variable Assignment types
    - single variable = single value
    - n number of varialbes = n number of values
    - single variable = n number of values
    - n number of variables = single value

In [2]:
a = 50
a

50

In [3]:
b = 23
b

23

In [3]:
a

50

In [1]:
a

NameError: name 'a' is not defined

In [4]:
a
b

23

In [5]:
b
a

50

In [6]:
a,b

(50, 23)

In [7]:
c = 45
d = '12'
c,d

(45, '12')

## Type:
    - to know the data type of a variable
    Syntax:
        type(variable_name)

In [8]:
type(c),type(d)

(int, str)

In [9]:
t = 45
print(t,type(t))
type(t)

45 <class 'int'>

int

In [10]:
p = '34'
print(p,type(p))
type(p)

34 <class 'str'>

str

## Data Types:
    - int => numeric values
    - float => numberic and decimal values
    - str => enclosed with ' or "
    - boolean => True or False
    - complex => real and imaginary
    - All Data structures[list,tuple,set and dictionary]

In [11]:
a,b,c,d,t,p = 2,23.0,4+5j,False,None,"Lalitha"
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(t,type(t))
print(p,type(p))

2 <class 'int'>
23.0 <class 'float'>
(4+5j) <class 'complex'>
False <class 'bool'>
None <class 'NoneType'>
Lalitha <class 'str'>

In [12]:
a,b,c,d,t,p = 2,23.0,4+5j,False,None
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(t,type(t))
print(p,type(p))

ValueError: not enough values to unpack (expected 6, got 5)

In [2]:
a,b = 2,23.0,4+5j,False,None
print(a,type(a))
print(b,type(b))

ValueError: too many values to unpack (expected 2)

In [13]:
w = 45,23.021,False,"Kavitha"
print(w,type(w))

(45, 23.021, False, 'Kavitha') <class 'tuple'>

In [14]:
a = b = c = 450
print(a,b,c)

450 450 450

## Operators:
    - Arithmetic => +,-,*,/,%,//,**
    - Logical => AND,OR,NOT,XOR
    - Bitwise => &,!,^,>>,|,<<
    - Relational => ==,!=,>=,<=,>,<
    - Assignment => +=,-=,*=,/=,%=,//=,**=
    - Identity => is,is not
    - Membership => in,not in

## Input Formatting:
    - It displays an info to a user
    - It reads a value from a user
    - By default it stores string data type value
    Syntax:
        variable_name = input("something info")

In [17]:
n = input("Enter a value: ")
print(n,type(n))

Enter a value:  Prasad

Prasad <class 'str'>

In [1]:
a = input("Enter a value: ")
b = input("Enter b value: ")
print(a,type(a))
print(b,type(b))

Enter a value:  12.021
Enter b value:  45

12.021 <class 'str'>
45 <class 'str'>

In [2]:
n,m = input(),input()
print(n,type(n),m,type(m))

 45
 56.05

45 <class 'str'> 56.05 <class 'str'>

## Type Casting:
    - To convert one data type of value to another data type value
    - int()
    - float()
    - str()
    - bool()
    - complex()
    - All Data structures[list(),set(),tuple(),dict()]

In [3]:
w = 45.021
print(w,type(w))
k = int(w)
print(k,type(k))
print(w,type(w))

45.021 <class 'float'>
45 <class 'int'>
45.021 <class 'float'>

In [5]:
w = input()
print(w,type(w))
k = int(w)
print(k,type(k))
print(w,type(w))

 '45'

'45' <class 'str'>

ValueError: invalid literal for int() with base 10: "'45'"

In [11]:
k = int(float(input()))
print(k,type(k))

 45.068559

45 <class 'int'>

```
Input:
    34
    12
Output:
    Entered a value is: 34
    Entered b value is: 12
    Entered values are: '34','12'
```

## Output Formatting:
    - + ,
    - .format
    - f string
    - format specifiers

In [16]:
n,m = int(input()),int(input())
# print("Entered a value is: ",n)
# print("Entered b value is: ",m)
# print("Entered a value is: "+str(n))
# print("Entered b value is: "+str(m))
# print("Entered a value is: %d"%n)
# print("Entered b value is: %d"%m)
# print("Entered a value is: {}".format(n))
# print("Entered b value is: {}".format(m))
print(f"Entered a value is: {n}")
print(f"Entered b value is: {m}")

 45
 6

Entered a value is: 45
Entered b value is: 6

In [18]:
a,b = int(input()),int(input())
print(f"Entered a value is: {a}")
print(f"Entered b value is: {b}")
print(f"Entered values are: '{a}','{b}'")
print("Entered values are: '"+str(a)+"','"+str(b)+"'")

 4
 5

Entered a value is: 4
Entered b value is: 5
Entered values are: '4','5'
Entered values are: '4','5'

```
Input:
    12
    45
Output:
    Sum of ? and ? is: ?
    Sub of ? and ? is: ?
    Mul of ? and ? is: ?
    Div of ? and ? is: ?
    Mod of ? and ? is: ?
    FD of ? and ? is: ?
    Power of ? and ? is: ?
```

In [19]:
n,m = int(input()),int(input())
print(f"Sum of {n} and {m} is: {n+m}")
print(f"Sub of {n} and {m} is: {n-m}")
print(f"Mul of {n} and {m} is: {n*m}")
print(f"Div of {n} and {m} is: {n/m}")
print(f"Mod of {n} and {m} is: {n%m}")
print(f"FD of {n} and {m} is: {n//m}")
print(f"Power of {n} and {m} is: {n**m}")

 2
 5

Sum of 2 and 5 is: 7
Sub of 2 and 5 is: -3
Mul of 2 and 5 is: 10
Div of 2 and 5 is: 0.4
Mod of 2 and 5 is: 2
FD of 2 and 5 is: 0
Power of 2 and 5 is: 32

In [22]:
d = 4
t = 12
print(d and t)
print(t and d)
print(d or t)
print(t or d)
print(d & t)
print(d | t)

12
4
4
12
4
12

## Keywords:
    - import
    - kwlist

In [23]:
import keyword

In [24]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [25]:
print(len(keyword.kwlist))

36